<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :first_name %><br />
      <span class = "input_wrapper"><%= f.text_field :first_name %></span></div>

    <div><%= f.label :last_name %><br />
      <span class = "input_wrapper"><%= f.text_field :last_name %></span></div>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <span class = "input_wrapper"><%= f.password_field :password, :autocomplete => "off" %></span></div>

    <div><%= f.label :password_confirmation %><br />
      <span class = "input_wrapper"><%= f.password_field :password_confirmation %></span></div>

    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <span class = "input_wrapper"><%= f.password_field :current_password %></span></div>

    <div><span class = "btn_wrapper"><%= f.submit "Update" %></span></div>
<% end %>

<%= link_to "Back", :back %>