A new sales order for <b> <%= Customer.sold_to_party_name(@sales_order.sold_to_party) %> </b> with PO number <b> <%= @sales_order.po_number %> </b> has been created and requires your approval.<br/>
Please click on the following link to access the system: <%= link_to 'http://50.63.174.43/customers/sign_in', 'http://50.63.174.43/customers/sign_in' %>

