<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47841729-1', '50.63.174.43');
    ga('send', 'pageview');

    </script>
    
  </head>
  
  
<body>

    <div id="container">
       <%= render 'shared/header' %>
       
       <div class="background main">
 	       <div class="content">
 	                <% if !notice.nil? || !alert.nil? %>
 	                <div class="alert_bounds">
 	                     <% if !notice.nil?  %>
         	                <p class="notice"><%= notice %></p>
                             <% end %>
 	                     <% if !alert.nil?  %>
                                <p class="alert"><%= alert %></p>
                             <% end %>
                        </div> 
                        <% end %>
 	                <%= yield %>
 	                <%= yield :templates %>
 	       </div><!-- .content -->
        </div>
        <%= render 'shared/footer' %>
    </div><!-- .container -->
    
</html>
