<p>Hi <% if ! @user.first_name.blank? %>
        <%= @user.first_name %>
   <% else %>
        User
   <% end %>,</p>

This will be your one stop shop for all your Angostura needs.<br><br>

You can find our House Rules Campaign for 2014 for The House of Angostura - the international range and Angostura aromatic bitters.<br><br>

In addition, we have also developed some recommended POS material that markets can use as a guide on how to execute this campaign internationally. We know that not all recommended point of sale material and merchandise will be permitted in all markets however this should be used as a template where applicable.<br><br>

This site will facilitate your artwork requests in the form of logos, bottle images and updates on Angostura events.<br><br>

Visit <%= link_to "Angostura Extranet", "http://extranet.angostura.com" %>. If you have questions email <a href="mailto:extranet@angostura.com">extranet@angostura.com</a><br><br>

Let's spread some joy...from The House of Angostura.<br><br>

Your password is <%= @password %></p>
