= link_to "Angostura Team > ", team_members_path
%br
%br
%h1 Team
%section{:class => "float_left content_full"}
  %ul{:class => "category_posts_list"}
    - counter = 1 
    - @team_members.each do |team_member|
      %li>
        %div{:class => "category_posts_item"}
          %h2{:class => "category_posts_header"}= team_member.name
          %div{:class => "category_post_image"}
            = link_to image_tag(team_member.image_url(:thumb).to_s, :class => "category_posts_images"), team_member_path(team_member)
            %div{:class => "clear"} <!-- -->
          %p{:align => "justify"}
            %strong Job Title:
            = team_member.job_title
          %p{:align => "justify"}
            %strong Email:
            = link_to team_member.email, "mailto:" + team_member.email
          %p{:style => "text-align:right"}
            %strong
              = link_to "More", team_member_path(team_member)
          %div{:class => "clear"} <!-- -->
      /      
      - if counter % 3 == 0
        %li{:class => "clear"}>
          /
        /
      - counter += 1  
