= link_to "Brand Team > ", team_members_path
= link_to @team_member.name, team_member_path(@team_member)
%br
%br
%div{:class => "post_page"}
  %h1= @team_member.name
  -if ! @team_member.image.nil?
    = image_tag(@team_member.image_url(:main).to_s, :class => "post_image")
  -if !@team_member.job_title.nil?
    %p{:align => "justify"}
      %strong Job title:
      = @team_member.job_title
  -if !@team_member.email.nil?    
    %p{:align => "justify"}
      %strong Email:
      = link_to @team_member.email, "mailto:" + @team_member.email
  
  -if !@team_member.description.nil?
    %p{:align => "justify"}
      = simple_format @team_member.description
  
  -if !@team_member.curriculum_vitae.nil?
    %p{:align => "justify"}
      %strong Curriculum vitae:
      = @team_member.curriculum_vitae
