     <div class="background" id="header_background">
        	<header class="header">
        		<div class="float_left">
                    <a href="/" class="float_left logo"><img class="float_left" src="/images/logo.png"></a>
                	<span class="float_left header_item tagline">Please Enjoy Responsibly</span>
                </div>
                <div class="float_right">                    
                       <% if user_signed_in? %>
                          <div style = "float: left; padding: 15px 0 0 0;" >
			  <%= render :partial => 'spree/shared/search' %>
			  </div>
	               <% end %>
                    <ul class="float_left header_item topnav_ul">
                        <% if user_signed_in? %>
                             <li><%= link_to "Shopping Cart", "/shop/cart" %></li>
                             <% if defined? destroy_user_session_path %>
                                     <li><%= link_to "My Profile", "/users/edit" %></li>
                                     <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                             <% else %>
                                     <li><%= link_to "My Profile", "/users/edit" %></li>
                                     <li><%= link_to "Logout", "/users/sign_out", :method => :delete %></li>
                             <% end %>
                             
                        <% elsif customer_signed_in? %>
                          <li><%= link_to "Shopping Cart", "/shop/cart" %></li>
                          <% if defined? destroy_customer_session_path %>
                              <li><%= link_to "My Profile", "/customers/edit" %></li>
                              <li><%= link_to "Logout", destroy_customer_session_path, :method => :delete %></li>
                          <% else %>
                              <li><%= link_to "My Profile", "/customers/edit" %></li>
                              <li><%= link_to "Logout", "/customers/sign_out", :method => :delete %></li>
                          <% end %>
                        <% elsif assistant_signed_in? %>
                          <li><%= link_to "Shopping Cart", "/shop/cart" %></li>
                          <% if defined? destroy_assistant_session_path %>
                              <li><%= link_to "My Profile", "/assistants/edit" %></li>
                              <li><%= link_to "Logout", destroy_assistant_session_path, :method => :delete %></li>
                          <% else %>
                              <li><%= link_to "My Profile", "/assistants/edit" %></li>
                              <li><%= link_to "Logout", "/assistants/sign_out", :method => :delete %></li>
                          <% end %>

                        <% else  %>
                          <li><%= link_to "Log In", "/users/sign_in" %></li>
                          <li><%= link_to "Customer Log In", "/customers/sign_in" %></li>
                          <li><%= link_to "Assistant Log In", "/assistants/sign_in" %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="clear"><!-- --></div>
    		</header> 
        </div><!-- #header_background -->
        
        <div class="background" id="navigation_red_background">
        <div class="background" id="navigation_glow_background">
            <nav class="navigation">
            	<ul class="float_left main_menu">
                    <!-- 
                 --><li>BRANDS
                        <ul class="sub_menu">
                            <li><a href="/categories/3">Brand Education</a></li>
                            <li><a href="/categories/2">Brand Guidelines</a></li>
                            <li><a href="/categories/12">Brand History</a></li>
                            <li><a href="/team_members">Brand Team</a></li>
                        </ul>
                    </li><!-- 
                 --><li>PRODUCTS
                        <ul class="sub_menu">
                            <li><a href="/shop/taxons">Product Range</a></li>
                            <li><a href="/categories/10">Production Techniques</a></li>
                            <li><a href="/categories/11">Technical Specs</a></li>
                        </ul>
                    </li><!-- 
                 --><li>RESOURCES
                        <ul class="sub_menu">
                            <li><a href="/categories/4">Downloads</a></li>
                            <li><a href="/categories/5">On trade promos</a></li>
                            <li><a href="/categories/6">Off trade promos</a></li>
                            <li><a href="/categories/7">Press Releases</a></li>
                            <li><a href="/categories/8">Presentations</a></li>
                            <li><a href="/categories/9">Toolkits</a></li>
                            <li><a href="/categories/13">Logos</a></li>                       
                        </ul>
                    </li><!-- 
                 --><li>EVENTS
                        <ul class="sub_menu">
                            <li><a href="/events">Events Diary</a></li>
                            <li><a href="/galleries">Events Gallery</a></li>
                        </ul>
                    </li><!-- 
                 --><li><a href="/shop/products">POS &amp; MERCHANDISE</a></li><!-- 
                 --><li>
                        ORDERS
                        <ul class="sub_menu">
                          <% if customer_signed_in?  %>
                              <li><a href="/manage_orders">Create Sales Order</a></li>
                          <% end  %>
                          <% if assistant_signed_in? || customer_signed_in?  %>
                              <%# if current_customer.is_admin  %>
                              <li><a href="/list_of_orders">List of orders</a></li>
                              <%# end %>
                          <% end %>
                        </ul>
                    </li><!--
                 -->
					<li>
						AGCC 2016
						<ul class="sub_menu">
							<li><a href="/categories/20">Promo Videos</a></li>
							<li><a href="/categories/21">AGCC Guidelines</a></li>
						</ul>
					</li>
					<!--
                 -->
					<li>
						NO. 1 CASK COLLECTION
						<ul class="sub_menu">
							<li><a href="/categories/23">Market Launch Manual</a></li>
							<li><a href="/categories/24">Photos</a></li>
							<li><a href="/categories/25">Fact Sheet</a></li>
							<li><a href="/categories/26">Brochure &amp; Mini Booklet</a></li>
							<li><a href="/categories/27">Press Release</a></li>
							<li><a href="/categories/28">Q&amp;A</a></li>
						</ul>
					</li>
                </ul>
                <div class="clear"><!-- --></div>
            </nav>
        </div><!-- #navigation_red_background -->    
        </div><!-- #navigation_glow_background -->
