%h1= @event.name
%p
  = image_tag @event.image_url(:product), :class => "event_image"
%p
  %strong Date:
  = @event.date
%p
  = @event.text

- if can? :update, @event
  = link_to 'Edit', edit_event_path(@event)
  \|
- if can? :destroy, @event
  = link_to 'Delete', @event, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
= link_to 'Back', events_path
