%h1 Sales Order


= form_for :sales_order, :url => { :controller => "manage_orders", :action => "create" }, :method => :post, :html => { :id => 'sales_order', :onsubmit => " var response = confirm('Are you sure you want to save the sales order ?'); return response;"} do |f|

  .field
    = f.label :sold_to_party,"Sold To Party"
    = f.select :sold_to_party, @list_of_sold_to_party.blank? ? {} : @list_of_sold_to_party ,{:prompt => '-- Select --'}, { :class => "input_wrapper", :style => 'margin: 2px 0; min-width: 30px; width: 180px; font-size: inherit;height: 20px;', :onchange => "soldToPartyName();", :required => true}
    = f.text_field :sold_to_party_name, value: '', :class => "input_wrapper sold_to", :style => "height: 20px;", disabled: true

  .field.ship_party
    = f.label :ship_to_party,"Ship To Party"
    = f.select :ship_to_party, {},{}, { :class => "input_wrapper", :name => "ship_to_party[]", :style => 'margin: 2px 0; min-width: 30px; width: 180px; font-size: inherit; height: 20px;', :onchange => "shipToPartyName();", :required => true}
    = f.text_field :ship_to_party, value: '', :class => "input_wrapper ship_to", :style => "height: 20px;", disabled: true
    = f.hidden_field :ship_to_party,  :class => "input_wrapper stp"

    -#%button{:href => "javascript",:onclick => 'addShipTo(); return false;', :class => 'add-ship-to btn_wrapper', :style => "width: 130px;" }
      Add Ship To Party
    -#%button{:href => "javascript",:onclick => 'removeShipTo($(this)); return false;', :class => 'add-field btn_wrapper remove-ship-to', :style => "width: 150px; display: none;" }
      Remove Ship To Party

  .field
    = f.label :required_delivery_date,"Required Delivery Date"
    = f.date_select :required_delivery_date, :class => "input_wrapper required_delivery_date",:style => "font-size: inherit;", :format => '%Y-%m-%d', :required => true, :style => 'min-width: 10px !important;'
  .field
    (YYYY-MM-DD)

  .field
    = f.label :po_number,"PO Number"
    = f.text_field :po_number, :class => "input_wrapper", :style => "padding-left: 10px !important; height: 20px;"
  .field
    = f.label :po_date,"PO Date"
    = f.date_select  :po_date, :value => Time.now().strftime('%Y-%m-%d'), :class => "input_wrapper po_date", :"data-fv-date-format" => '%Y-%m-%d', :html => "font-size: inherit;"
  .field
    (YYYY-MM-DD)


  .field
    = f.hidden_field :status, :value => "Pending for Release"
    = f.hidden_field :customer_id, :value => current_customer.id
  .field
    = f.label :text
    = f.text_field :text, :class => "input_wrapper", :style => "padding-left: 10px !important; height: 20px;"

  .field
    = f.label :material_code,"Material Code", :style => "margin: 2px 0; min-width: 30px; width: 180px;height: 20px;"
    = f.label :order_quantity, "Quantity",:value => 1, :style => "margin: 2px 0; min-width: 30px; width: 60px; padding-left: 10px !important; height: 20px;"
    = f.label :unit_of_measure,"Unit Of Measure", :style => "margin: 2px 0; min-width: 30px; width: 90px; padding-left: 10px !important; height: 20px;"
    = f.label :price,"Unit Price", :style => "margin: 2px 0; min-width: 30px; width: 90px; padding-left: 10px !important; height: 20px;"
    = f.label :currency,"Currency", :style => "margin: 2px 0; min-width: 30px; width: 60px; padding-left: 10px !important; height: 20px;"
    = f.label :net_value,"Net Value", :style => "margin: 2px 0; min-width: 30px; width: 90px; padding-left: 10px !important; height: 20px;"
  .field.mc
    = f.select :material_code, @current_customer.list_of_material_code,{}, { :class => "input_wrapper mc", :name => "material_code[]", :style => 'margin: 2px 0; min-width: 30px; width: 180px; padding-left: 10px !important; height: 20px;', onchange: 'materialDescription($(this))'}
    = f.number_field :order_quantity, :class => "input_wrapper oq", :name => "order_quantity[]",:type => "number", :style => 'margin: 2px 0; min-width: 30px; width: 60px; padding-left: 10px !important; height: 20px;', :required => true, :in => 0..10000, onchange: 'netValue($(this))'
    = f.text_field :unit_of_measure, :class => "input_wrapper uom", :name => "unit_of_measure[]", :style => 'margin: 2px 0; min-width: 30px; width: 90px; padding-left: 10px !important; height: 20px;', :required => true
    = f.number_field :price, :class => "input_wrapper up", :name => "price[]", :style => 'margin: 2px 0; min-width: 30px; width: 90px; padding-left: 10px !important; height: 20px;', :readonly => true
    = f.text_field :currency, :class => "input_wrapper oc", :name => "currency[]", :style => 'margin: 2px 0; min-width: 30px; width: 60px; padding-left: 10px !important; height: 20px;', :readonly => true
    = f.number_field :net_value, :class => "input_wrapper nv", :name => "net_value[]", :type => "number", :style => 'margin: 2px 0; min-width: 30px; width: 90px; padding-left: 10px !important; height: 20px;', :readonly => true

    %button{:href => "javascript",:onclick => 'addMaterialCode(); return false;', :class => 'add-field btn_wrapper', :style => "width: 50px;" }
      Add
    %button{:href => "javascript",:onclick => 'removeLine($(this)); return false;', :class => 'add-field btn_wrapper remove-line', :style => "width: 70px; display: none;" }
      Remove
    %div.md_div{style: 'width: 630px;'}
      %b Material Desciption:
      %span.md
  .field
    = f.number_field :order_quantity, :class => "input_wrapper toq", :name => "order_quantity_total[]",:type => "number", :style => 'margin: 2px 250px 2px 185px; min-width: 30px; width: 60px; padding-left: 10px !important; height: 20px;', :required => true, :in => 0..10000, :readonly => true
    = f.number_field :net_value, :class => "input_wrapper tnv", :name => "net_value_total[]", :type => "number", :style => 'margin: 2px 0px 2px 29px;min-width: 30px; width: 90px; padding-left: 10px !important; height: 20px;', :step => 'any', :required => true, :readonly => true
  .actions
    = f.submit 'Save', :style => "background-color: gray; width: 200px;" , :class => "btn_wrapper"
    = link_to 'CANCEL', '', :class => "btn_wrapper button cancel", :style => 'color: white; font-size: 15px; height: 20px;  padding-top: 7px;   width: 200px; text-align: center; text-decoration: none;'
:javascript

  $('.cancel').click(function(event){
    event.preventDefault(); // Prevent link from following its href
    var response = confirm('Are you sure you want to cancel the changes ?')
    if(response){
      window.location.href = 'http://localhost:3000'
    }else{
      return false
    }
  });

  function addMaterialCode(){
    var currentMaterialDetail = $('.field.mc').last();
    var newMaterialDetail = $('.field.mc').last().clone()
    newMaterialDetail.children('.mc')[0].selectedIndex = 0;
    var removeLine = $('button.remove-line').first().clone().show()
    newMaterialDetail.children('button').remove()
    //currentMaterialDetail.children('.remove-line').remove()
    //newMaterialDetail.children('.mc').val('')
    newMaterialDetail.children('.oq').val('')
    newMaterialDetail.children('.uom').val('')
    newMaterialDetail.children('.md').val('')
    newMaterialDetail.children('.up').val('')
    newMaterialDetail.children('.oc').val('')
    newMaterialDetail.children('.nv').val('')
    materialDescription(newMaterialDetail.children('.mc'));
    currentMaterialDetail.after(newMaterialDetail)
    newMaterialDetail.find('.md_div').before(removeLine)
  }

  function shipToPartyName(){

    var value = $('#sales_order_ship_to_party').val();
    $('.stp').val(value);
    $('#sales_order_ship_to_party').next('.ship_to').val('')
    if(value){
      $.ajax({
        url: "/party_name",
        data: { code: value, type: 'ship_to' },
        method: "GET"
        }).done(function(data) {
        $('#sales_order_ship_to_party').next('.ship_to').val(data['party_name'])
      });

    }

  }
  $('#sales_order_ship_to_party').change(function(e){
    shipToPartyName(e)
  });
  soldToPartyName();
  function soldToPartyName(){
    var value = $('#sales_order_sold_to_party').val();

    $.ajax({
      url: "/party_name",
      data: { code: value, type: 'sold_to' },
      method: "GET"
      }).done(function(data) {
      $('.sold_to').val(data['party_name'])
      var optionsAsString = "";
      for(var i = 0; i < data['ship_to_parties'].length; i++) {
        optionsAsString += "<option value='" + data['ship_to_parties'][i] + "'>" + data['ship_to_parties'][i] + "</option>";
      }
      $('#sales_order_ship_to_party').html(optionsAsString);
      shipToPartyName()
    });
  }

  function netValue(e){
    var quantity = e
    var unit_price = e.parent().find('.up')
    var net_value = e.parent().find('.nv')
    net_value.val(parseInt(quantity.val()) * parseFloat(unit_price.val()))
    totalNetValue()
  }

  function totalNetValue(){
    var total_quantity = 0
    var total_net_value = 0
    $('.mc .oq').each(function( index ){
      total_quantity = total_quantity + parseInt($(this).val())
    });
    $('.mc .nv').each(function( index ){
      total_net_value = total_net_value + parseFloat($(this).val())
    });
    $('.toq').val(total_quantity)
    $('.tnv').val(total_net_value)
  }

  materialDescription($('#sales_order_material_code'));

  function materialDescription(e){
    var material_description = e.parent().find('.md')
    var order_quantity =  e.parent().find('.oq')
    var unit_price = e.parent().find('.up')
    var currency = e.parent().find('.oc')
    var net_value =  e.parent().find('.nv')
    var unit_of_measure = e.parent().find('.uom')
    var value = e.val();
    if(order_quantity.val() == ''){
      order_quantity.val(1)
    }
    $.ajax({
      url: "/show_material_description",
      data: { code: value},
      method: "GET"
      }).done(function(data) {
        material_description.html(data['material_description'])
        unit_price.val(data['price'])
        currency.val(data['currency'])
        unit_of_measure.val(data['unit_of_measure'])
        netValue(order_quantity);
    });
  }

  function removeLine(e){
    e.parent().remove()
    totalNetValue()
  }

  function addShipTo(){
    var currentShipToParty = $('.field.ship_party').last()
    var newShipToParty = currentShipToParty.clone()
    var removeShipTo = $('button.remove-ship-to').first().clone().show()
    newShipToParty.children('label').html('')
    newShipToParty.children('button').remove()
    currentShipToParty.after(newShipToParty)
    newShipToParty.append(removeShipTo)
  }

  function removeShipTo(e){
    e.parent().remove()
  }


