%h1
  = @listing_title

%table{:style => 'width: 110%;'}
  %tr
    %th{ :width => '7%'} Sold to Party
    %th{ :width => '10%'} Sold to
    %th{ :width => '7%'} Ship to Party
    %th{ :width => '10%'} Ship to
    -#%th{ :width => '20%'} Material Code
    -#%th{ :width => '5%'} Order Quantity
    %th{ :width => '7%'} PO Number
    %th{ :width => '10%'} Status
    %th{ :width => '5%'} Total Quantity
    %th{ :width => '8%'} Total Order Value
    %th{ :width => '5%'} Currency
    - if current_customer && current_customer.is_admin
      %th{ :width => '10%'}
    %th



  - @sales_orders.each do |sales_order|
    %tr
      %td= sales_order.sold_to_party
      %td= Customer.sold_to_party_name(sales_order.sold_to_party)
      %td= sales_order.ship_to_party
      %td= Customer.ship_to_party_name(sales_order.ship_to_party)
      %td= sales_order.po_number
      %td
        - if current_customer && current_customer.is_admin
          = select(:sales_order,:status, options_for_select([['Pending for Release', 'Pending for Release'], ['Approved', 'Approved'], ['Credit Hold', 'Credit Hold'],['In-Production','In-Production'],['Awaiting Ref No','Awaiting Ref No'],['Awaiting Customer Collection','Awaiting Customer Collection'],['Received by customer','Received by customer']],[sales_order.status,sales_order.status]),{}, :id => 'status_'+sales_order.id.to_s, :style => 'min-width: 100px; width: 160px;  font-size: inherit;', :onchange => " changeStatus(#{sales_order.id})", :onfocus => ' var previous = $(this).val()')
          = hidden_field_tag :sales_order_id, sales_order.id
        - else
          = sales_order.status
      - total_order_price, total_order_quantity, currency = sales_order.total_order_detail
      %td
        = total_order_quantity
      %td
        = total_order_price
      %td
        = currency
      - if current_customer && current_customer.is_admin
        %td
          = link_to 'Update Status', "#", :onclick => "update_status($(this));", :id => sales_order.id
      %td
        = link_to 'View detailed order', manage_order_path(sales_order.id)

%br

= link_to 'New Sales Order', manage_orders_path

:javascript
  function update_status(e){
    var status_id = e.context.id;
    var status = $('#status_'+status_id).val();
    $.ajax({
      url: "/update_order_status/"+status_id,
      data: { status: status },
      method: "PUT"
      }).done(function() {
      alert(' Successfully updated sales order.');
    });
  }

  function changeStatus(e){
    var response = confirm('Are you sure you want to change the status ?')
    if(response){
      var status = $('#status_'+e).val();
      $.ajax({
      url: "/update_order_status/"+e,
      data: { status: status },
      method: "PUT"
      }).done(function() {
      alert(' Successfully updated sales order.');
      });
    }
  }

