%table{:class => 'sales_order_listing'}
  %colgroup{:width => '10%' }
  %colgroup{:width => '15%' }
  %colgroup{:width => '10%' }
  %colgroup{:width => '15%' }

  %tr
    %td
      %b
        Sold to party
    %td
      = @sales_order.sold_to_party
    %td{ :colspan => 2 }
      = Customer.sold_to_party_name(@sales_order.sold_to_party)
  %tr
    %td
      %b
        Ship to party
    %td
      - ship_to_party = @sales_order.ship_to_party || ( @sales_order.order_delivery_parties.first.ship_to if @sales_order.order_delivery_parties.present? )
      = ship_to_party
    %td{ :colspan => 2 }
      = Customer.ship_to_party_name(ship_to_party)
  %tr
    %td
      %b
        PO number
    %td
      = @sales_order.po_number
    %td
      %b
        PO date (YYYY-MM-DD)
    %td
      = @sales_order.po_date
  %tr
    %td
      %b
        Delivery Date  (YYYY-MM-DD)
    %td
      = @sales_order.required_delivery_date
    %td
      %b
        Order status
    %td
      = @sales_order.status
  %tr
    %td
      %b
        Text
    %td{ :colspan => 3 }
      = @sales_order.text

.materialCode
  %table
    %tr
      %td{:width => '20%' }
        %b
          Material Code
      %td{:width => '25%' }
        %b
          Material Description
      %td{:width => '12%' }
        %b
          Order Quantity
      %td{:width => '12%' }
        %b
          Unit of Measure
      %td{:width => '9%' }
        %b
          Unit Price
      %td
        %b
          Currency
      %td{:width => '10%' }
        %b
          Net Value

    - if @sales_order.material_codes
      - @sales_order.material_codes.each do |mc|
        %tr
          %td
            = mc.material_code
          %td
            = mc.material_description if mc.present?
          %td
            = mc.order_quantity
          %td
            =  mc.unit_of_measure
          -# price,currency,order_net_value = mc.order_net_value  if mc.present?
          %td
            = mc.price
          %td
            = mc.currency
          %td
            = mc.price * mc.order_quantity
    - total_order_price, total_order_quantity, currency = @sales_order.total_order_detail
    %tr
      %td{:colspan => '2'}
        %b
          Total
      %td
        = total_order_quantity
      %td{:colspan => '3'}
      %td
        = total_order_price




= link_to 'Back', list_of_orders_path

