<h2>Customer Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
  <span class = "input_wrapper">
  <%= f.email_field :email, :autofocus => true %>
  </span>
    </div>

    <div><%= f.label :password %><br />
  <span class = "input_wrapper">
  <%= f.password_field :password %>
  </span>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div><label><%= f.check_box :remember_me %>Remember Me</label></div>
    <% end -%>

    <div><span class = "btn_wrapper"><%= f.submit "Sign in" %></span></div>
<% end %>

<%= render "customers/shared/links" %>
