@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height:100%;
	text-align: justify;
}

body {
	background: url(../images/body_gradient.png) repeat-x top left #FDFDFD;
	color: #404042;
	line-height: 1.7em;
	margin: auto;
	padding: 0;
	height: 100%;
	text-align: justify;
}

h1, h2 {
	font-size: 2.3em;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 1.8em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;	
}

a {
	color: #C51015;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 10px;
}

form div {
	margin-bottom: 15px;
}

label {
	min-width: 200px;
	display: inline-block;
	cursor: pointer;
	line-height: 32px;
	vertical-align: top;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="file"], select {
	background: none;
	border: none;
	height: 28px;
	min-width: 350px;
	padding: 0; 
	font-family: Arial,Helvetica,sans-serif;
	outline: none;
	font-size: 14px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        min-width: 0;
}

.ui-datepicker-header {
        position: relative;
}

.ui-datepicker-prev, .ui-datepicker-next {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
}

.ui-datepicker-next {
        left: auto;
        right: 0;
}

.ui-datepicker-title {
        text-align: center;
}

input[type="checkbox"] {
	margin: 0;
	display: inline-block;
	vertical-align: text-top;
}

label input[type="checkbox"] {
	margin-right: 10px;
}

select {
	height: 20px;
	margin: 4px 0;
}

option {
	padding: 5px;
}

.button, button, input[type="submit"] {
	font-size:15px;
	text-decoration:none;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: #fff;
	line-height: 26px;
	height: 26px;
	font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.button:hover, button:hover, input[type="submit"]:hover {
	text-decoration: underline;
}

.input_wrapper {
	background:#FFF;
	box-shadow: 2px 2px 7px #888888 inset;
	-moz-box-shadow: 2px 2px 7px #888888 inset;
	-webkit-box-shadow: 2px 2px 7px #888888 inset;
	display: inline-block;
	height: auto;
	line-height: normal;
	padding: 2px 5px;
	vertical-align: middle;
}

textarea {
        border: none;
	border-color: Transparent;
	font-family: Arial,Helvetica,sans-serif;
	outline: none;
	width: 350px;
	height: 150px;
	font-size: 14px;
}

a.continue, button.continue {
        display: inline-block;
	height: 20px;
	line-height: normal;
	overflow: hidden;
	background: url(../images/btn_bg.png) repeat-x left bottom #AE2012;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	vertical-align: middle;
	padding: 3px 15px 3px 15px;
}

.btn_wrapper {
	display: inline-block;
	height: auto;
	line-height: normal;
	overflow: hidden;
	background: url(../images/btn_bg.png) repeat-x left bottom #AE2012;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	vertical-align: middle;
	padding: 0 15px;
}

.required {
	color: #505050;
	margin-left: 5px;
	font-size: 1.4em;
}

.hr {
	float: left;
	width: 100%;
	margin: 0 0 60px 0;
	height: 1px;
	background: #000;
}

.float_left {
	float: left;
	clear: none;
}

.float_right {
	float: right;
	clear: none;
}

.half_left {
	width: 48%;
	margin-right: 2%;
}

.half_right {
	width: 48%;
	margin-left: 2%;
}

.quarter {
	width: 23%;
	margin: 0 1%;
}

.fifth {
	width: 18%;
	margin: 0 1%;
}

.clear {
	width: 100%;
	height: 0;
	clear: both;
}

.margin_b_0 {
	margin-bottom: 0;
}

.align_right {
	text-align: right;
}

.align_center {
	text-align: center;
}





#container {
	display:block;
	min-height: 100%;
	height:auto !important;
	height: 100%;
	min-width: 100%;
	width:auto !important;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	float:none;
	margin: 0;
}

/*** Containers for segments mainly used for background attachments e.g. header, navigation, etc. 
	 Use for base layout, then create unique identifiers to attach more refined styles ***/
.background {
	width: 100%;
	float:none; 
	clear:both; 
	display:block;
	position: relative;
}

/*** Our main segments - Change widths and Heights accordingly in following blocks ***/
#header_background {
	background: url(../images/header_glow.png) no-repeat center bottom;
	z-index: 1;
}

#navigation_red_background, #footer_red_background {
	background: #530500 url(../images/navigation_gradient.png) repeat-x left top;
	z-index: 3;	
}

#navigation_glow_background, #footer_glow_background {
	background: url(../images/navigation_glow.png) no-repeat center top;	
}

.main {
        margin-bottom: 49px;
}

#footer_red_background {
        position: absolute;
        bottom: 0;
        margin: 0;        
}

#content_background {
	z-index: 0;
	background: url(../images/content_glow.png) no-repeat center top;	
}

.header, .content {
	display: block;
	margin: 0 auto;
	width:100%;
	max-width: 1100px;
	padding: 0 40px;
	height: auto;
	min-width: 900px;
	position: relative;
}

.header {
	padding: 5px 40px;
}

.navigation {
	display: block;
	margin: 0 auto;
	width:100%;
	max-width: 1280px;
	padding: 0 40px;
	/*padding: 0;*/
	height: auto;
	min-width: 900px;
	position: relative;
}

.content {
 	padding: 30px 40px;
}



/*************************************************************/
/*** Header Elements ********************/
/*************************************************************/
.header_item {
	line-height: 56px;
}

.logo {
	max-width: 161px;
	height: auto;
	margin: 0;
	padding: 0;
	display: block;
}

.tagline {
	font-weight: bold;
	font-size: 13px;
	margin-left: 15px;
}

.search_btn {
	margin-left: 15px;
}


/*************************************************************/
/*** Top Right Menu ********************/
/*************************************************************/
.topnav_ul {
	overflow: hidden;
	text-align: center;
	margin-left: 15px;
}

.topnav_ul li {
	display: inline-block;
}

.topnav_ul a {
	color: #000000;
	display: block;
	font-weight: bold;
	padding: 0 15px;
	text-decoration: none;
}

.topnav_ul li:last-child a {
	padding-right: 0;
}

.topnav_ul a:hover {
	text-decoration: underline;
}



/*************************************************************/
/*** Main Menu ********************/
/*************************************************************/
.main_menu, .sub_menu {
	height: 49px;
	line-height: 49px;
	padding:0;
	margin: 0;
	width: 100%;
	text-align: center;
}

/*.main-menu {
	line-height: 35px;
}

.sub-menu {
	
}*/

.sub_menu, .sub_menu ul, .sub_menu ul.sub_menu  {
	line-height: 32px;
	display: inline-block;
	height: auto;
	font-size: 11px;
	position: absolute;
	z-index: 99999;
	box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	-moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	-webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	left: 0;
	top: 49px;
	display: none;
}

.main_menu li:hover > ul, .sub_menu li:hover > ul {
	display: block;
}

.sub_menu ul, .sub_menu ul.sub_menu {
	left: 100%;
	top: 0;
}

.main_menu li {
	position: relative;
	padding: 0;
	overflow: visible;
	line-height: inherit;
	vertical-align: top;
	display: inline-block;
	width: 11.66666666666667%;
}

.main_menu li.longword {
	line-height: 20px;
}

.sub_menu li {
	width: 100%;
	background: #530500;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	font-size: 11px;
	margin-left: -1px;
}

.main_menu li {
        color: #fff;
}


.main_menu li a {
	display: block;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.main_menu li a:hover {
	text-decoration: underline;
}

.content article.content_full, .content section.content_full {
	margin-bottom: 60px;
	position: relative;
	width: 100%;
}

.content article.content_full:last-child, .content section.content_full:last-child { 
	margin-bottom: 0;
}

.alert_bounds {
        margin-bottom: 30px;
}

.alert_bounds p {
        padding: 10px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
}

.alert_bounds .alert {
        border: 1px solid #248CA4;
        background: #2D9FBA;
}

.alert_bounds .warning {
        border: 1px solid #B23431;
        background: #CC403C;
}

.alert_bounds .notice {
        border: 1px solid #4D9655;
        background: #57AC61;
}


/*************************************************************/
/*** Tabs & UI Mods ********************/
/*************************************************************/
.home_tabs, #post_tabs {
    position: relative;
    margin: 0;
	background: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
}

.home_tabs {
     width: 100%;		
}

.home_tabs .ui-tabs-nav, #post_tabs .ui-tabs-nav {
	padding: 0;
	background: none;
	border: none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.home_tabs .ui-tabs-nav li, #post_tabs .ui-tabs-nav li {
	margin: 0;
	background: none;
	border: none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

#post_tabs .ui-tabs-nav li {
        min-width: 250px;
}

.home_tabs .ui-tabs-nav li.ui-tabs-active, #post_tabs .ui-tabs-nav li.ui-tabs-active {
	border-left: 1px solid #B8B8B8;
	border-right: 1px solid #B8B8B8;
	border-top: 1px solid #B8B8B8;
	padding-bottom: 0;
	margin-bottom: 0;
}

.home_tabs .ui-tabs-nav li a, #post_tabs .ui-tabs-nav li a {
	padding: 0.5em 1.8em;
	font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
	color: #c51015;
	font-size: 20px; 
	text-transform:capitalize;
	background: none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.home_tabs .ui-tabs-panel, #post_tabs .ui-tabs-panel {
	border: 1px solid #b8b8b8;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding: 10px;
	color: #404042;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

.home_tabs .ui-widget-content a, #post_tabs .ui-widget-content a  {
	color: #C51015;
}




/*************************************************************/
/*** Product List ********************/
/*************************************************************/
.product_bounds {
	padding-bottom: 20px;
	position: relative;
	width: 100%;
}

.product_border {
	position: absolute;
	border-bottom: 1px dashed #C51015;
	bottom: 10px;
}

.product_border_right, .product_border_quarter_three {
	left: 50%;
}

.product_border_quarter_two {
	left: 25%;
}

.product_border_quarter_four {
	left: 75%;
}

.product, .product_quarter {
	padding: 1%;
	width: 46%;
	position: relative;
}

.product_quarter {
	width: 21%;
}

.product_fifth {
	position: relative;
}

.product_details, .product_alt_thumbs {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.product_alt_thumbs ul {
	text-align: center;
	height: 50px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
}

.product_alt_thumbs ul li {
	display: inline-block;
	margin: 0 2px;
}

.product_alt_thumbs ul li a {
	border: 1px solid #C51015;
	border-radius: 4px;
	display: inline-block;
	overflow: hidden;
}

.product_alt_thumbs ul li a:hover {
	
}

.product_alt_thumbs ul li img {
	display: block;
	width: 100%;
}

.product_image, .product_name, .gallery_image_name, .product span, .product form, .product_quarter span, .product_quarter form, .product_details span {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.product_image {
        min-height: 240px;
        line-height: 240px;
        margin-bottom: 0;
        text-align: center;
}

.product form, .product_quarter form {
        margin-bottom: 0;
}

.product_fifth .product_name, .product_fifth .gallery_image_name {
	text-align: center;
}

.gallery_name {
        text-align: center;
}





.product .input_wrapper, .product_quarter .input_wrapper, .product_details .input_wrapper, .product .btn_wrapper, .product_quarter .btn_wrapper, .product_details .btn_wrapper, .product .cart_bounds, .product_quarter .cart_bounds, .product_details .cart_bounds {
	float: none;
	width: auto;
	margin-bottom: 0;
}

.product_details .cart_bounds {
	right: 0;
}

.product_fifth .product_image {
	
}

.product_details_image {
	display: block;
	margin: 0;
	border: 1px solid #C51015;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.gallery_image img {
        display: block;
        border: 1px solid #b8b8b8;
	margin: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	min-height: 240px;
        max-width: 240px;
        max-height: 240px;
}

.product_image img {
        /*display: block;
	margin-left: auto;
        margin-right: auto;*/
	border: none;
	/*box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	min-height: 240px;*/
        max-width: 238px;
        max-height: 238px; 
        vertical-align: middle;
}

.product_details_image, .product_fifth .product_image img {
	box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	-webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.product_fifth .product_image img { 

}

.product span:last-child, .product_quarter span:last-child, .product_details span:last-child {
	margin-bottom: 0;
}

/*************************************************************/
/*** Taxonomy ********************/
/*************************************************************/


/*************************************************************/
/*** Cart ********************/
/*************************************************************/
.cart_bounds {
	background: #530500 url(../images/navigation_gradient.png) repeat-x left top;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	bottom: 0;
	padding: 5px;
	position: absolute;
	right: 4%;
}

input.cart_input[type="text"], input.cart_input[type="number"] {
	min-width: 0;
	width: 40px;
}

.cart_btn {
	border-radius: 0;
	margin-left: 5px;
	padding: 5px;
	background: none;
}

.cart_btn {
	background: none;
}

.cart_add {
	background: url(/images/ui-icons_888888_256x240.png) no-repeat scroll 0 -192px rgba(0, 0, 0, 0);
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}

.cart_add:hover {
	background-image: url(/images/ui-icons_222222_256x240.png);
}





/*************************************************************/
/*** Paging ********************/
/*************************************************************/
.paging {
	clear: both;
	float: left;
	line-height: 40px;
	padding: 0;
	text-align: right;
	width: 100%;
}

.paging a, .paging strong {
	margin: 0 4px;
}





/*************************************************************/
/*** Information ********************/
/*************************************************************/
.page_information img {
	float: left;
	margin: 0 15px 10px 0;
	/*border: 1px solid #C51015;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	-moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	-webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
}

.page_information ol, .page_information ul {
	margin-bottom: 10px;
}

.page_information ol {
	list-style: lower-roman inside none;
}

.taxonomies {
       margin: 20px 0;
       text-align: left;
       border-radius: 4px;
       -moz-border-radius: 4px;
       -webkit-border-radius: 4px;
       border: 1px solid #b8b8b8;
       padding: 20px;
       box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
       -moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
       -webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4); 
       width: 75%;
}

.taxonomy_category {
       display: inline-block;
       float: right;
       text-align: left;
       padding: 50px 50px 25px 25px;      
}

.taxonomy {
       width: 300px;
       float: left;
       text-align: center;
}

.taxonomy_img {
       float: auto;
}

.page_information ul {
	list-style: disc inside none;
}






/*************************************************************/
/*** Tables & Cart ********************/
/*************************************************************/
table {
  border: 1px solid #C51015;
  margin-bottom: 10px;
  width: 100%;
}

tr {
  position: relative;
}

th {
  background: #530500 url(../images/navigation_gradient.png) repeat-x left top;
  border: 1px solid #000;
  color: #FFFFFF;
  font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  padding: 5px 10px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

td {
  border: 1px solid #C51015;
  padding: 5px 10px;
  position: relative;
}

.cart_table td {
	vertical-align: middle;
}

.callendar_table td, .callendar_table th {
	width: 14.28571428571429%;	
}

.callendar_table td {
	height: 90px;
}

.callendar_table th {
	text-align: center;
}

.callendar_arrow {
	display: inline-block;
	font-size: 1.6em;
	margin: 0 30px;
	position: relative;
	top: 5px;
}

.day {
	display: inline-block;
	font-size: 1.3em;
	width: 100%;
	margin-bottom: 10px;
} 

.past {
	color: #999;
}

.event {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.cart_table .product_image {
	margin: 0;
}

.cart_table .product_image img {
	box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	-moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	-webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, .4);
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.cart_delete {
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

.cart_delete:hover, .callendar_arrow:hover {
	text-decoration: none;
	color: #404042;
}

.category_posts_item {
        position: relative;
        top: 0px;
        border: 1px solid #b8b8b8;
        min-height: 420px;
        padding: 20px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
        -moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
        -webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);    
}

.post_image {
       float: left;
       margin:0px 45px 45px 0px;
}

.post_display_area {
       float: left;
}


#post_tabs {
       float:left;
       clear:both;
       min-width: 252px;
       margin: 0 45px 45px 0;
}

.team_image 
{
       display: block;
       margin: 0;
       border: 0px solid #C51015;
       border-radius: 4px;
       -moz-border-radius: 4px;
       -webkit-border-radius: 4px;
       max-width: 240px;
       max-height: 308px;
       margin:25px;
}

.team_member, .event_image {
       border: 1px solid #b8b8b8;
       border-radius: 4px;
       -moz-border-radius: 4px;
       -webkit-border-radius: 4px;
       box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
       -moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
       -webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
       float:left;
       margin:25px;
           
}

.team_text {
   font-size: 14px; 
}

.team_member {
       height:410px;
}

.team_members {
       max-width: 500px;
}

.footer_left, .footer_right {
       padding: 5px;
       color: #fff; 
       line-height: 39px;
       height: 39px;  
}

.footer_left {
   float: left;
}

.footer_right {
   float: right;
}

.footer_right a {

}

.footer_right img {
   vertical-align: middle;
}

footer {
   width: 1100px;
   margin: 0 auto;
}

.post_page {
   border: 1px solid #b8b8b8;
   border-radius: 4px;
   padding: 25px;
   box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
   -moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
   -webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
}

.category_post_image {
   text-align: center;
}

.category_posts_header {
   text-align: center;
}

.category_posts_images {
       margin:20px;
}

.category_posts_images {
       margin:20px;
}

.category_posts_list {
       min-width: 1200px;
       
}

.category_posts_list li {
       vertical-align:text-top;
       display: inline-block;
       width: 360px;
       /*height: 396px;*/
       margin: 20px;
}

.category_posts_list li.clear {
        margin: 0;
        display: block;
        width: 100%;
}

#line_items td {
   vertical-align:middle;
}

.gallery_front, .post_front, .product_box {
   width: 240px;
   height: 240px;
   border: 1px solid #C51015;
   box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
   -moz-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
   -webkit-box-shadow: 4px 4px 6px rgba(136, 136, 136, 0.4);
   margin-bottom: 15px;
}

.product_box {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}

.pview {
}

.gallery_front {
   text-align: center;
}
