@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.sold_to {
    padding-left: 10px  !important;
    width: 300px !important;
    min-width: 20px !important;
    margin-left: 10px  !important;
}

.ship_to {
    padding-left: 10px  !important;
    width: 300px !important;
    min-width: 20px  !important;
    margin-left: 10px  !important;
}

.sales_order_listing{
    font-style: normal !important;
    width: 90%;
}
.materialCode{
    height: 200px;
    overflow: auto;
    width: 90%;
    margin-bottom: 10px;
    /*border: solid;*/
}

#sales_order_required_delivery_date_1i, #sales_order_required_delivery_date_2i, #sales_order_required_delivery_date_3i, #sales_order_po_date_1i, #sales_order_po_date_2i, #sales_order_po_date_3i  {
    min-width: 5px  !important;
    font-size: inherit;
}




