= link_to @category.title + " > ", category_path(@category)
%br
%br
%h1= @category.title
- if (!@category.image_url().nil? & !@category.text.nil?)
  %div{:class => "category_header"}
    - if !@category.image_url().nil?
      = image_tag(@category.image_url(:thumb).to_s, :class => "post_image")
    %p= @category.text.html_safe
    %div{:class => "clear"} <!-- -->
%ul{:class => "category_posts_list"}
  - if params[:taxonomy].nil?
    - posts = @category.posts
  - else
    - taxonomy = params[:taxonomy]
    - posts = Post.where(category: @category, product_range_id: taxonomy)
  - counter = 1 
  - posts.each do | post |
    - if ProductRangesUser.where(:user_id => current_user, :taxonomy_id => post.product_range).count > 0
       
      %li>
        %div{:class => "category_posts_item"}
          %h2{:class => "category_posts_header"}= post.title
          %div{:class => "category_post_image"}
            = link_to image_tag(post.image_url(:thumb).to_s, :class => "category_posts_images"), post_path(post)
            %div{:class => "clear"} <!-- -->
          - if !post.product_range.nil?
            %p{:align => "justify"}
              %strong Product Range: 
              = post.product_range.name
              
          = simple_format post.description
          %p{:style => "text-align:right"}
            %strong
              = link_to("More", post_path(post) )
          %div{:class => "clear"} <!-- -->
      /      
      - if counter % 3 == 0
        %li{:class => "clear"}>
          /
        /
      - counter += 1       
