<section class="float_left content_full">
<h1>Products</h1>
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %> 

<% if products.any? %>

  <% i = 0 %>
  <% products.each do |product| %>
    <% if i % 4 == 0 %>
        <div class="float_left product_bounds">   
    <% end %>
            <div class="float_left quarter product_quarter" data-hook="products_list_item_monster" itemscope itemtype="http://schema.org/Product">
              <div class="product_box">
                 <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url', :class => "pview" %>
              </div>
              <%= render 'spree/products/details', :product => product %>
            </div>
    <% if (i % 4 == 3) || i == products.count %>
            <div class="quarter product_border"><!-- --></div>
            <div class="quarter product_border product_border_quarter_two"><!-- --></div>
            <div class="quarter product_border product_border_quarter_three"><!-- --></div>
            <div class="quarter product_border product_border_quarter_four"><!-- --></div>
        </div>   
    <% end %>
    <% i += 1 %>
  <% end %>

<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
</section>
<div class ="clear"><!-- --></div>
