<!--
<section class="float_left content_full">
 	 	      		<h1>Welcome</h1>
                	<p>Welcome to the Angostura Extranet. This site has been developed to provide its users with an easy to use one-stop shop for all Angostura brand information. The menu on the left navigates information about our products and team, ranging from Brand Guidelines and Technical Specs to details on POS and Promotions. Search the Downloads section to find approved logos and images to use in your activities. Keep checking our site for all the latest Angostura news, product information and activities.</p>
                    <p>If there is anything you cannot find or would like to see on this site please let us know.</p>
                    <p>Alison &amp; Brian</p>
</section>  section 1 -->

<div class="hr"><!-- --></div>

<section class="float_left content_full">
<article class="float_left half_left margin_b_0">
<h1>WHAT'S NEW</h1>

<div class="float_left home_tabs">
                            <ul>
                                <li><a href="#home_tabs_1">Press Releases</a></li>
                                <li><a href="#home_tabs_2">POS</a></li>
                                <li><a href="#home_tabs_3">Downloads</a></li>
                                
                            </ul>
                            
                             <div id="home_tabs_1">
                            
                               
                                <% count = Post.where(:category_id =>  7).count %>
                                 <% i = 0 %>
                                 
                                 <% Post.where(:category_id =>  7).order(created_at: :desc).limit(4).each do |post| %>
                                           <% i += 1 %>
                                           <% if i.odd? %>
                                              <div class="float_left product_bounds">
                                                <div class="float_left half_left product">
                                                  <%= render 'post', :post => post %>
                                                </div>
                                                <% if i == count %>
                                                    <div class="half_left product_border"><!-- --></div>
                                                    <div class="half_right product_border product_border_right"><!-- --></div>
                                                </div>
                                                <% end %>
                                            <% else %>
                                                <div class="float_left half_right product">
                                                        <%= render 'post', :post => post %>
                                                </div>
                                                <div class="half_left product_border"><!-- --></div>
                                                <div class="half_right product_border product_border_right"><!-- --></div>
                                              </div>
                                            <% end %>         
                                 <% end %>
                                  
                                          
                                <div class="clear"><!-- --></div>
                            
                            </div><!-- #home_tabs_2 -->
                            
                            <div id="home_tabs_2">
                                  <% i = 0 %>                               
                                  <% @featured_products.find_in_batches(batch_size: 2) do |products| %>
                                        <% i += 1 %>
                                        <div class="float_left product_bounds">
                                          <% products.each do |product| %>
                                            <% p = 1 %>
                                            <% if p.odd? %>
                                              <div class="float_left half_left product">
                                                <%= render 'product', :product => product %>
                                              </div>
                                            <% else %>
                                              <div class="float_left half_right product">
                                                <%= render 'product', :product => product %>
                                              </div>
                                            <% end %>
                                            <% p += 1 %>
                                          <% end %>
                                          <div class="half_left product_border"><!-- --></div>
                                          <div class="half_right product_border product_border_right"><!-- --></div>
                                        </div>
                                        <% break if i == 2 %>
                                  <% end %>
                                                                     
                                                                
                                <div class="clear"><!-- --></div>                               
                            </div><!-- #home_tabs_1 -->
                            
                           
                            
                            <div id="home_tabs_3">
                                
                                
                                <% i = 0 %>                               
                                  <% Post.where(:category_id =>  4).find_in_batches(batch_size: 2) do |posts| %>
                                        <% i += 1 %>
                                        <div class="float_left product_bounds">
                                          <% posts.each do |post| %>
                                            <% p = 1 %>
                                            <% if p.odd? %>
                                              <div class="float_left half_left product">
                                                <%= render 'post', :post => post %>
                                              </div>
                                            <% else %>
                                              <div class="float_left half_right product">
                                                <%= render 'post', :post => post %>
                                              </div>
                                            <% end %>
                                            <% p += 1 %>
                                          <% end %>
                                          <div class="half_left product_border"><!-- --></div>
                                          <div class="half_right product_border product_border_right"><!-- --></div>
                                        </div>
                                        <% break if i == 2 %>
                                  <% end %>
                                  
                                          
                                <div class="clear"><!-- --></div>
                            
                            </div><!-- #home_tabs_2 -->
                            
                            
                                                        
                            
                            
                        
</div><!-- .home_tabs -->
</article>


<article class="float_left half_right margin_b_0">
                    	<h1>Event Galleries</h1>
                        <p>Angostura promotion event picture galleries</p>
                        
                                  <% i = 0 %>                               
                                  <% Gallery.find_in_batches(batch_size: 2) do |galleries| %>
                                        <% i += 1 %>
                                        <div class="float_left product_bounds">
                                          <% galleries.each do |gallery| %>
                                            <% p = 1 %>
                                            <% if p.odd? %>
                                              <div class="float_left half_left product">
                                                <%= render 'gallery', :gallery => gallery %>
                                              </div>
                                            <% else %>
                                              <div class="float_left half_right product">
                                                <%= render 'gallery', :gallery => gallery %>
                                              </div>
                                            <% end %>
                                            <% p += 1 %>
                                          <% end %>
                                          <div class="half_left product_border"><!-- --></div>
                                          <div class="half_right product_border product_border_right"><!-- --></div>
                                        </div>
                                        <% break if i == 2 %>
                                  <% end %>
                            
                        <div class="clear"><!-- --></div>

</article>


</section><!-- section 2 -->

